*{margin:0;padding:0; }
html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body{
	background-image: radial-gradient(#ed213a, #7a2828);
}

/*HEADER*/
.header .pick img{
	margin-left: 70%;
	height: 30%;
	width: 30%;
}

.header .year img{
	margin-left: 90%;
	height: 40%;
	width: 40%;
}

.header .chu img{
	margin-left: 100%;
	height: 30%;
	width: 30%;
}
.options{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5%;
	z-index: 1000;
}
.options .snowClick{
	background: none;
	border: none;
	box-shadow: none;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
.options .speaker{
	background: none;
	border: none;
	box-shadow: none;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: white;
}
.options .mute{
	background: none;
	border: none;
	box-shadow: none;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: white;
}
.options .more{
	background: none;
	border: none;
	box-shadow: none;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: white;
}
.options .more:focus{
	background: none;
	border: none;
	box-shadow: none;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: white;
}
/*FIELD*/
.field h1{
	text-transform: capitalize;
	font-size: 50px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	padding-left: 200px;
}
.field .container .svgLogo path,polygon{
	fill: none;
	stroke: white;
}
.field .container .svgLogo text{
	font-size: 30px;
	fill: white;
}
.field .container .svgLogo{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.field .container .cee1{
	height: 80%;
	width: 80%;
	margin-left: 20%;
}

.field .time h2{
	font-size: 70px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	padding-left: 130px;
	padding-top: 20px;
}
.field .time p{
	font-size: 20px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	padding-left: 130px;
}
.field .copyright{
	font-size: 18px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-style: thin;
	padding-top: 40px;
	padding-left: 25%;
}

/*FOOTER*/
.footer{
	padding: 0px;
	margin-bottom: 0px;
}
.footer .wave{
	padding: 0px;
	margin: 0px;
}
.footer img{
	height: 300%;
	width: 300%;
}
/*.fireworks{
	position: absolute;
	top: 0;
	left: 0;
}*/
canvas {
	display: block;
	width: 100vw;
	height: 100vh;
	cursor: pointer; 
	position: absolute;
	top: 0;
	left: 0;
}

#fileWrapper{
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 100;
	transition:all 0.5s ease;
}
#fileWrapper:hover{
	opacity: 1!important;
}

#visualizer_wrapper{
	text-align: center;
	position: absolute;
	top: -400px;
	left: 22%;
}
.cus{
    cursor: pointer;
    color: white;
    font-size: 30px;
    padding-left: 90%;
}
#fileWrapper input[type="file"]{
	display: none;
}

/*RESPONSIVE

/* ----------- iPhone 6 ----------- */
 
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
 
}
 
/* Portrait */
@media only screen
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  	html, body{
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
  	.header .pick img{
		margin-left: 0%;
		height: 70%;
		width: 70%;
	}

	.header .year img{
		margin-left: 20%;
		height: 80%;
		width: 80%;
	}

	.header .chu img{
		margin-left: 30%;
		height: 70%;
		width: 70%;
	}
	.options{
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000;
	}
	.options .speaker{
		font-size: 15px;
	}
	.options .snowClick{
		font-size: 15px;
	}
	/*FIELD*/
	.field{
		margin-top: 10%;
	}
	.field .container .svgLogo{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0.4;
	}
	.field .container .cee1{
		height: 80%;
		width: 80%;
		position: absolute;
		margin-left: 0px;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0.4;
	}
	.field h1{
		padding-top: 30%;
		font-size: 20px;
		padding-left: 0px;
	}
	.field .time h2{
		font-size: 40px;
		padding-left: 0px;
		padding-top: 0px;
	}
	.field .time p{
		font-size: 12px;
		padding-left: 0px;
	}
	.field .copyright{
		font-size: 14px;
		margin-top: 30%;
		padding-top: 0;
		padding-left: 0;
	}
	/*FOOTER*/
	.footer{
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.footer img{
		height: 101%;
		width: 101%;
		transform: translateY(-50px);
	}
}

/* Landscape */
@media only screen
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
 
}
 
/* ----------- iPhone 6+ ----------- */
 
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
 
}
 
/* Portrait */
@media only screen
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
 	html, body{
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
  	.header .pick img{
		margin-left: 0%;
		height: 70%;
		width: 70%;
	}

	.header .year img{
		margin-left: 20%;
		height: 80%;
		width: 80%;
	}

	.header .chu img{
		margin-left: 20%;
		height: 70%;
		width: 70%;
	}
	.options{
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000;
	}
	.options .speaker{
		font-size: 15px;
	}
	.options .snowClick{
		font-size: 15px;
	}
	/*FIELD*/
	.field{
		margin-top: 10%;
	}
	.field .container .svgLogo{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0.4;
	}
	.field .container .cee1{
		height: 80%;
		width: 80%;
		position: absolute;
		margin-left: 0px;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0.4;
	}
	.field h1{
		padding-top: 30%;
		font-size: 20px;
		padding-left: 0px;
	}
	.field .time h2{
		font-size: 40px;
		padding-left: 0px;
		padding-top: 0px;
	}
	.field .time p{
		font-size: 12px;
		padding-left: 0px;
	}
	.field .copyright{
		font-size: 16px;
		margin-top: 30%;
		padding-top: 0;
		padding-left: 0;
	}
	/*FOOTER*/
	.footer{
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.footer img{
		height: 101%;
		width: 101%;
		transform: translateY(20px);
	}

	/*visualizer*/
	#fileWrapper{
		z-index: 100;
		transition:all 0.5s ease;
	}
	#fileWrapper:hover{
		opacity: 1!important;
	}

	#visualizer_wrapper{
		position: absolute;
	}
	.cus{
	    cursor: pointer;
	    color: white;
	}
	#fileWrapper input[type="file"]{
		display: none;
	}
}
 
/* Landscape */
@media only screen
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
 
}
/* ----------- iPhone 4 and 4S ----------- */
 
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
 
}
 
/* Portrait */
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	html, body{
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
  	.header .pick img{
		margin-left: 0%;
		height: 70%;
		width: 70%;
	}

	.header .year img{
		margin-left: 20%;
		height: 80%;
		width: 80%;
	}

	.header .chu img{
		margin-left: 20%;
		height: 70%;
		width: 70%;
	}
	.options{
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1000;
	}
	.options .speaker{
		font-size: 15px;
	}
	.options .snowClick{
		font-size: 15px;
	}
	/*FIELD*/
	
	.field .container .svgLogo{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0.4;
	}
	.field .container .cee1{
		height: 80%;
		width: 80%;
		position: absolute;
		margin-left: 0px;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0.4;
	}
	.field h1{
		padding-top: 30%;
		font-size: 20px;
		padding-left: 0px;
	}
	.field .time h2{
		font-size: 40px;
		padding-left: 0px;
		padding-top: 0px;
	}
	.field .time p{
		font-size: 12px;
		padding-left: 0px;
	}
	/*FOOTER*/
	.footer{
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.footer img{
		height: 101%;
		width: 101%;
		transform: translateY(20px);
	}
}
 
/* Landscape */
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
 
}
 
/* ----------- iPhone 5 and 5S ----------- */
 
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
 
}
 
/* Portrait */
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	html, body{
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
  	.header .pick img{
		margin-left: 0%;
		height: 70%;
		width: 70%;
	}

	.header .year img{
		margin-left: 20%;
		height: 80%;
		width: 80%;
	}

	.header .chu img{
		margin-left: 20%;
		height: 70%;
		width: 70%;
	}

	/*FIELD*/
	.field{
		margin-top: 10%;
	}
	.field .container .svgLogo{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0.4;
	}
	.field .container .cee1{
		height: 80%;
		width: 80%;
		position: absolute;
		margin-left: 0px;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0.4;
	}
	.field h1{
		padding-top: 30%;
		font-size: 20px;
		padding-left: 0px;
	}
	.field .time h2{
		font-size: 40px;
		padding-left: 0px;
		padding-top: 0px;
	}
	.field .time p{
		font-size: 12px;
		padding-left: 0px;
	}
	.field .copyright{
		font-size: 16px;
		margin-top: 30%;
		padding-top: 0;
		padding-left: 0;
	}
	
	/*FOOTER*/
	.footer{
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.footer img{
		height: 101%;
		width: 101%;
		transform: translateY(20px);
	}
}
 
/* Landscape */
@media only screen
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
 
}

